/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"; 
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

/* @import "~bootstrap/dist/css/bootstrap.css" ; */


/* @import "~bootstrap/dist/css/bootstrap.min.css"; */


/* @import "~ag-grid-community/dist/styles/ag-grid.css"; */


/* @import "~ag-grid-community/dist/styles/ag-theme-balham.css"; */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline-style: none !important;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif !important;
    display: flex;
    flex-direction: column;
}


/*    ----------------HEADER PART---------------------------*/

.header {
    background: #286090;
    color: #286090;
    padding: 3px 0;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
}

.padding {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
}

h2 {
    margin-left: -30px !important;
}

header .header-container h2 {
    font-size: 22px;
    margin: 10px 0;
}


/*Override bootstrap header dropdown*/

header .header-container .setting-menu-list {
    margin: 0;
}

.setting {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;
    margin: 14px 0;
    font-size: 11px;
    cursor: pointer;
}

.bttn {
    border: none;
    background: transparent;
    color: white;
}

header .header-container .setting-menu-list li i {
    font-size: 13px;
    cursor: pointer;
}

header .header-container .setting-menu-list li .dropdown,
header .header-container .dropdown .btn-default,
header .header-container .dropdown .btn-default:hover,
header .header-container .dropdown .btn-default:active header .header-container .dropdown .btn-default:active:focus {
    background: transparent;
    border: none;
    color: white;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

header .header-container .dropdown .dropdown-menu {
    top: 30px;
    right: -3px;
    border-radius: 0;
}

header .header-container .dropdown .dropdown-menu li {
    font-size: 9px;
}

header .header-container .dropdown .dropdown-menu::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    height: 0;
    width: 0;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    /* Safari & Chrome*/
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
}

.color {
    color: #fff;
}


/*    ----------------Sidebar Navigation START---------------------------*/

.side-menu {
    position: fixed;
    z-index: 999;
    left: 0;
    width: 240px;
    top: 58px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    font-size: 11px;
}

.side-menu {
    padding: 0 0 75px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.side-menu .navbar-default {
    border: none;
    border-bottom: 1px solid rgb(231, 231, 231)
}

.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav .active a {
    background-color: #e7e7e7;
    margin-right: -1px;
    color: #286090;
    border-right: 5px solid #286090;
}

.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav li i {
    padding-right: 5px;
}

.side-menu .navbar {
    border-radius: inherit;
}

.side-menu .navbar-nav li:last-child {
    border-bottom: none;
}

.side-menu .navbar-nav li a {
    padding: 8px 15px;
}

.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}

.side-menu #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.side-menu #dropdown .caret {
    float: right;
    margin: 9px 5px 0;
}

.side-menu #dropdown .indicator {
    float: right;
}

.side-menu #dropdown>a {
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #dropdown .panel-body {
    padding: 0;
    background-color: #f3f3f3;
}

.side-menu #dropdown .panel-body .navbar-nav {
    width: 100%;
}

.side-menu #dropdown .panel-body .navbar-nav li {
    padding-left: 43px;
    border-bottom: 1px solid #e7e7e7;
    line-height: 2.5;
    font-size: 10px;
}

.side-menu #dropdown .panel-body .navbar-nav li i {
    color: #286090;
    cursor: pointer;
}

.side-menu #dropdown .panel-body .navbar-nav li>a {
    padding: 0;
    display: inline-block;
    line-height: 2.5;
    border: none;
    background: transparent;
    cursor: pointer;
}

li a span{
    cursor: pointer;  
}

.navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-nav>li:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #286090;
    background: #e7e7e7 !important;
}


/* .side-menu #dropdown .panel-body:hover{
  background-color: transparent ;
} */


/* .panel-collapse .collapse .panel-body nav .navbar-nav li>a:hover{
  background-color: transparent ;
} */

.side-menu #dropdown .panel-body .navbar-nav li:before {
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 9px;
}

.side-menu #dropdown .panel-body .panel>a {
    margin-left: -20px;
    padding-left: 35px;
}

.side-menu #dropdown .panel-body .panel-body {
    margin-left: -15px;
}

.side-menu #dropdown .panel-body .panel-body li {
    padding-left: 30px;
}

.side-menu #dropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
}

.side-menu .brand-name-wrapper {
    min-height: 50px;
}

.side-menu .brand-name-wrapper .navbar-brand {
    display: block;
}

.side-menu #search {
    position: relative;
    z-index: 1000;
}

.side-menu #search .panel-body {
    padding: 0;
}

.side-menu #search .panel-body .navbar-form {
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e7e7e7;
}

.side-menu #search .panel-body .navbar-form .form-group {
    width: 100%;
    position: relative;
}

.side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
}

.side-menu #search .panel-body .navbar-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
    padding: 15px 18px;
}

.menu-bar {
    float: left;
    margin-top: 20px;
    display: none;
    margin-right: 20px;
    cursor: pointer;
}

#menu {
    display: none;
}

.mobile {
    display: none !important;
}

.nav-tabs {
    cursor: pointer;
}

.btn.btn-primary {
    float: right;
}

.router {
    display: none !important;
}


/* .scrollbar{
  overflow: auto hidden !important;
} */


/* TAB VIEW */

@media(max-width:990px) {
    .sample {
        width: 60em !important;
    }
    .sample-stksetting {
        width: 120em !important;
    }
    .sample-ledger,
    .sample-balance,
    .sample-project {
        width: 180em !important;
    }
    .sample-deltrend,
    .sample-recpttrend {
        width: 140em !important;
    }
    .sample-orditm,
    .sample-puritm {
        width: 120em !important;
    }
    .sample-setup,
    .sample-cusdet,
    .sample-crmcus {
        width: 100em !important;
    }
    .sample-tax,
    .sample-budget,
    .sample-sales,
    .sample-lead {
        width: 80em !important;
    }
    .sample-oflet,
    .sample-offlet {
        width: 120em !important;
    }
    .sample-loss {
        width: 90em !important;
    }
    .sample-issued,
    .sample-gross,
    .sample-payable,
    .sample-receivable,
    .sample-item,
    .sample-match,
    .sample-salereg,
    .sample-purreg,
    .sample-quot,
    .sample-quottrends {
        width: 130em !important;
    }
    .sample-profit,
    .sample-supqot {
        width: 80em !important;
    }
    .sample-empy {
        width: 40em !important;
    }
    .sample-group {
        width: 40em !important;
    }
    .sample-branch {
        width: 30em !important;
    }
    .sample-leave,
    .sample-sales {
        width: 120em !important;
    }
    .sample-attendance {
        width: 170em !important;
    }
    .sample-budvar,
    .sample-cheque,
    .sample-attendance {
        width: 220em !important;
    }
    .scrollbar {
        overflow: auto;
    }
    h2 {
        margin-left: -15px !important;
    }
    .header li {
        display: none
    }
    .header {
        padding: 5px 0;
    }
    .col-xs-3 {
        width: 100%;
    }
    .col-xs-6 {
        width: 100%;
    }
    .select {
        padding: 8px 18px !important;
        width: 100%;
    }
    .mat-menu {
        display: none !important;
    }
}


/* MOBILE VIEW */

@media(max-width: 640px) {
    .sample {
        width: 60em !important;
    }
    .sample-empy {
        width: 40em !important;
    }
    .sample-stksetting {
        width: 120em !important;
    }
    .sample-loss {
        width: 90em !important;
    }
    .sample-deltrend,
    .sample-recpttrend {
        width: 140em !important;
    }
    .sample-ledger,
    .sample-balance,
    .sample-project {
        width: 180em !important;
    }
    .sample-orditm,
    .sample-puritm {
        width: 120em !important;
    }
    .sample-group {
        width: 40em !important;
    }
    .sample-setup,
    .sample-crmcus {
        width: 100em !important;
    }
    .sample-branch {
        width: 30em !important;
    }
    .sample-issued,
    .sample-purreg,
    .sample-item,
    .sample-quot,
    .sample-quottrends {
        width: 130em !important;
    }
    .sample-profit,
    .sample-tax,
    .sample-budget,
    .sample-supqot,
    .sample-sales {
        width: 80em !important;
    }
    .sample-budvar,
    .sample-cheque,
    .sample-attendance {
        width: 220em !important;
    }
    .sample-leave,
    .sample-sales {
        width: 120em !important;
    }
    .sample-oflet,
    .sample-offlet {
        width: 120em !important;
    }
    .sample-attendance {
        width: 170em !important;
    }
    .scrollbar {
        overflow: auto;
    }
    #datePicker {
        z-index: -1;
    }
    .mobile {
        display: block !important;
    }
    .product+* .cdk-overlay-pane {
        top: 75px !important;
        left: 73px !important;
    }
    .bommaterial+* .cdk-overlay-pane {
        top: 150px !important;
        left: 73px !important;
    }
    .manutools+* .cdk-overlay-pane {
        top: 170px !important;
        left: 73px !important;
    }
    .setup+* .cdk-overlay-pane {
        top: 200px !important;
        left: 73px !important;
    }
    .report+* .cdk-overlay-pane {
        top: 210px !important;
        left: 73px !important;
    }
    .salesInvoice+* .cdk-overlay-pane {
        top: 200px !important;
        left: 73px !important;
        width: 10em;
    }
    .master+* .cdk-overlay-pane {
        top: 250px !important;
        left: 73px !important;
    }
    .accout+* .cdk-overlay-pane {
        top: 280px !important;
        left: 73px !important;
    }
    .bankpay+* .cdk-overlay-pane {
        top: 310px !important;
        left: 73px !important;
    }
    .taxes+* .cdk-overlay-pane {
        top: 330px !important;
        left: 73px !important;
    }
    .budget+* .cdk-overlay-pane {
        top: 360px !important;
        left: 73px !important;
    }
    .tools+* .cdk-overlay-pane {
        top: 400px !important;
        left: 73px !important;
    }
    .bill+* .cdk-overlay-pane {
        top: 450px !important;
        left: 73px !important;
    }
    .analytics+* .cdk-overlay-pane {
        top: 470px !important;
        left: 73px !important;
    }
    .purchasing+* .cdk-overlay-pane {
        top: 270px !important;
        left: 73px !important;
    }
    .supplier+* .cdk-overlay-pane {
        top: 290px !important;
        left: 73px !important;
    }
    .itempricing+* .cdk-overlay-pane {
        top: 200px !important;
        left: 73px !important;
    }
    .analyticss+* .cdk-overlay-pane {
        top: 325px !important;
        left: 73px !important;
    }
    .otherreports+* .cdk-overlay-pane {
        top: 350px !important;
        left: 73px !important;
    }
    .sellanaly+* .cdk-overlay-pane {
        top: 450px !important;
        left: 73px !important;
    }
    .itemprice+* .cdk-overlay-pane {
        top: 200px !important;
        left: 73px !important;
    }
    .sale+* .cdk-overlay-pane {
        top: 305px !important;
        left: 73px !important;
    }
    .customer+* .cdk-overlay-pane {
        top: 305px !important;
        left: 73px !important;
    }
    .salsept+* .cdk-overlay-pane {
        top: 335px !important;
        left: 73px !important;
    }
    .Report+* .cdk-overlay-pane {
        top: 473px !important;
        left: 73px !important;
        width: 10em;
    }
    .Employee+* .cdk-overlay-pane {
        top: 355px !important;
        left: 73px !important;
    }
    .Holiday+* .cdk-overlay-pane {
        top: 450px !important;
        left: 73px !important;
    }
    .reports+* .cdk-overlay-pane {
        top: 200px !important;
        left: 73px !important;
    }
    .PayRoll+* .cdk-overlay-pane {
        top: 485px !important;
        left: 73px !important;
    }
    .ExpenseClaims+* .cdk-overlay-pane {
        top: 513px !important;
        left: 73px !important;
    }
    .Appraisals+* .cdk-overlay-pane {
        top: 540px !important;
        left: 73px !important;
    }
    .SetUp+* .cdk-overlay-pane {
        top: 567px !important;
        left: 73px !important;
    }
    .recruit+* .cdk-overlay-pane {
        top: 275px !important;
        left: 73px !important;
    }
    .crmreports+* .cdk-overlay-pane {
        left: 73px !important;
        top: 480px !important;
    }
    .crmsetup+* .cdk-overlay-pane {
        left: 73px !important;
        top: 480px !important;
    }
    .project+* .cdk-overlay-pane {
        top: 350 !important;
        left: 73px !important;
    }
    .timetracking+* .cdk-overlay-pane {
        top: 375 !important;
        left: 73px !important;
    }
    .stktrans+* .cdk-overlay-pane {
        top: 400 !important;
        left: 73px !important;
    }
    .StockReports+* .cdk-overlay-pane {
        top: 330px !important;
        left: 73px !important;
    }
    .ItemsPricing+* .cdk-overlay-pane {
        top: 360px !important;
        left: 73px !important;
    }
    .tools+* .cdk-overlay-pane {
        top: 385px !important;
        left: 73px !important;
    }
    .stksetup+* .cdk-overlay-pane {
        top: 200px !important;
        left: 73px !important;
    }
    .stkanalytic+* .cdk-overlay-pane {
        top: 450px !important;
        left: 73px !important;
    }
    .stkreport+* .cdk-overlay-pane {
        top: 250px !important;
        left: 73px !important;
    }
    .SalesPipeline+* .cdk-overlay-pane {
        top: 430px !important;
        left: 73px !important;
    }
    .suppissue+* .cdk-overlay-pane {
        top: 320px !important;
        left: 73px !important;
    }
    .tool+* .cdk-overlay-pane {
        top: 320px !important;
        left: 73px !important;
    }
    .suppreport+* .cdk-overlay-pane {
        top: 320px !important;
        left: 73px !important;
    }
    .itmreport+* .cdk-overlay-pane {
        top: 320px !important;
        left: 73px !important;
    }
    .lead1+* .cdk-overlay-pane {
        top: 440px !important;
        left: 73px !important;
    }
    .items+* .cdk-overlay-pane {
        top: 400px !important;
        left: 73px !important;
    }
    .cust+* .cdk-overlay-pane {
        top: 550 !important;
        left: 73px !important;
    }
    .custrpt+* .cdk-overlay-pane {
        top: 500 !important;
        left: 73px !important;
    }
    h2 {
        margin-left: -7px !important;
    }
    .nav-tabs {
        display: none;
    }
    .tab-content {
        display: none !important;
    }
    .web {
        display: none !important;
    }
    .manu-breadcrumb {
        display: none;
    }
    .select {
        padding: 8px 18px !important;
        width: 100%;
    }
    .loginContainer .form-control {
        font-size: 14px !important;
    }
    .btn-primary {
        font-size: 10px !important;
        float: right;
    }
    .btn-warning {
        font-size: 10px !important;
        float: left;
    }
    .col-xs-3 {
        width: 100%;
    }
    .col-xs-6 {
        width: 100%;
    }
    .dataView {
        margin-left: 10px !important;
    }
    .caret {
        display: none;
    }
    .panel-body ul {
        display: none;
    }
    .side-menu {
        width: 20%;
    }
    .side-menu a i {
        display: block;
        line-height: 50px;
        text-align: center;
        margin-left: 0;
        font-size: 25px;
    }
    .panel-body ul li i {
        font-size: 20px;
        display: inherit;
        margin-left: 14px;
        text-align: center;
        color: #286090;
    }
    .side-menu li a span {
        display: none;
    }
    .side-menu .panel-body ul a span {
        display: none;
    }
    .side-menu .navbar-nav {
        display: block;
    }
    .header ul {
        display: none;
    }
    .side-menu .navbar-nav li {
        display: block;
    }
    .menu-bar {
        margin-top: 0px;
        display: none;
        display: block
    }
    .side-menu #dropdown .panel-body .navbar-nav li:before {
        display: none;
        font-size: inherit;
        padding-right: 16px;
    }
}


/* #menu:checked ~.side-menu{
  left:0;
  } */


/* Login */


/*Login style START*/

.loginWrapper {
    position: static;
    height: 100%;
}

.loginWrapper form {
    height: inherit;
}

.loginContainer {
    display: table;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    height: 300px;
    border-radius: 5px;
    padding: 20px;
    -moz-box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.28);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bac4cd+0,ffffff+51,bac4cd+100 */
    background: #bac4cd;
    /* Old browsers */
    background: -moz-linear-gradient(top, #bac4cd 0%, #ffffff 51%, #bac4cd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #bac4cd 0%, #ffffff 51%, #bac4cd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bac4cd 0%, #ffffff 51%, #bac4cd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.loginContainer .positionCenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.loginContainer h1 {
    color: #263e6c;
    font-weight: 500;
    text-align: left;
    margin-top: 8%;
    line-height: 1.3;
}

.loginContainer h1 span {
    font-size: 0.6em;
    font-weight: 300;
}

.loginContainer .textType {
    background: #F7F9FA;
    padding: 10px 10px;
    border: 1px solid #949494;
    border-radius: 8px;
    text-align: left;
}

.loginContainer .textType strong {
    color: #330066;
    font-weight: 500;
}

.loginContainer .textType .submit {
    display: inline-block;
    text-align: center;
    margin-top: 12px;
}

.loginContainer .textType .submit .btn {
    font-size: 12px;
}

.loginContainer .textType .login-data {
    padding: 10px 0 0 0;
}

.loginContainer .textType .logout {
    color: #31708f;
    background-color: #d9edf7;
    padding: 5px 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #c5d9e2;
    text-shadow: 1px 1px 1px white;
}

.loginContainer .textType .invalid {
    color: red;
    background: #f2dede;
    padding: 5px 8px;
    text-shadow: 1px 1px 1px white;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #E6D1D1;
}

.loginContainer .textType .login-data label {
    font-weight: 400;
    color: #828282;
    /*width: 25%;*/
}

.loginContainer .textType .login-data input {
    /*width: 72%;*/
    border: 1px solid #ccc;
}

.select {
    height: 34px;
    margin-left: 13px;
    padding: 5px 10px;
    color: #333333;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    background-color: #eeeeee;
}

.select:focus,
.select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

.select option {
    background-color: #ffffff;
}


/*Login style STOP*/


/*------------------------------ Body Section styles ------------------------------*/

.container-fluid {
    width: inherit;
    min-height: inherit;
    padding: 0;
}


/* 
"position:absolute; top:200px; bottom:200px; left:0px; right:0px; overflow:auto;" */


/* body::-webkit-scrollbar {
    width: 12px;
    height: 58px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(185, 197, 197);
}

body::-webkit-scrollbar-button {
    top: 10px;
    bottom: 10px;
}

body::-webkit-validation-bubble-arrow:increment {
    display: none;
} */

.contentView {
    min-height: inherit;
}

.dataView {
    position: absolute;
    top: 60px;
    min-height: inherit;
    margin-left: 240px;
    overflow-x: inherit;
    bottom: 58px;
    left: 0px;
    right: 0px;
    overflow: auto;
}


/*------------------------------ FOOTER ------------------------------*/

.footer {
    position: fixed !important;
    bottom: 0;
    min-height: initial !important;
    border-top: 1px solid #d9d9d9;
    padding: 15px 0;
    background-color: #f8f8f8;
}

footer .copy__rights {
    text-align: right;
    font-size: 12px;
}

.f {
    text-align: right;
    font-size: 12px;
}


/* adding style */

fieldset.scheduler-border {
    border: 1px solid #d9d9d9 !important;
    padding: 0 1.4em 5.4em 1.4em !important;
    margin: 0 1.5em 1.5em 0 !important;
    font-size: 11px;
    border-radius: 5px;
}

legend.scheduler-border {
    width: inherit;
    /* Or auto */
    padding: 0 10px;
    /* To give a bit of padding on the left and right */
    border-bottom: none;
    font-size: 12px;
    font-weight: bold;
}

.error {
    color: #FF0000;
}

.required:after {
    content: "*";
    color: #e32;
    position: absolute;
    font-size: 20px;
}

table th,
td {
    white-space: nowrap;
}

.msg {
    padding: 5px 8px;
    text-shadow: 1px 1px 1px white;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: 1px solid #bce8f1;
}

.nav-tabs li {
    font-size: 11px;
}

.dropdown-menu li a {
    font-size: 10px;
}

.form-control,
.btn-primary {
    font-size: 14px;
}

.panel-info>.panel-heading {
    background-color: #286090;
    border-color: #286090;
    color: white;
}

.panel-info {
    border-color: #ddd;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Bread Crumb Code */

.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn {
    padding: 6px 12px 6px 24px;
}

.btn-breadcrumb .btn:first-child {
    padding: 6px 6px 6px 10px;
}

.btn-breadcrumb .btn:last-child {
    padding: 6px 18px 6px 24px;
}


/** Info button **/

.btn-breadcrumb .btn.btn-info:not(:last-child):after {
    border-left: 10px solid #6D9FCC;
}

.btn-breadcrumb .btn.btn-info:not(:last-child):before {
    border-left: 10px solid #fff;
}

.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
    border-left: 10px solid #39b3d7;
}

.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
    border-left: 10px solid #269abc;
}

.btn-info {
    font-size: 11px;
    background-color: #6D9FCC;
}


/** Scroll Top Class Start **/


/* #scroll{
   width:65px;
  height: 65px; 
  background-image: url('/TestAndReportStudio/resources/images/round.png');
  position:fixed;
  right:50px;
  margin-right:-10px;
  bottom:50px;
  display:none;
  z-index: 9999; 
} */

.glyphicon-calendar {
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
